@import url("https://fonts.googleapis.com/css?family=Quicksand:700,500,600|Roboto:200,700,600");
:root{
--font-family-quicksand: "Quicksand"; 
--font-size-l: 24px;
--font-size-m: 18px;
--font-size-s: 16px;
--font-size-xl: 30px;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-quicksand);
    color: #F2F2F2;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    vertical-align: baseline;
    background: transparent;
}

*, *:after, *:before {
    transition: 0.5s ease-in-out;
  }


body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*---------PRELOADER----------*/


.contenedor-carga {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgb(7, 7, 7,0.9);
    position: fixed;
    transition: all 1s ease;
    overflow: hidden;
    visibility: visible;
}

.contenedor-carga-hidden {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}

.contenedor-carga .carga {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 200px;
    border-radius: 50%;
    border-top: 5px solid #ef4361;
    border-right: 5px solid #ef4361;
    animation: spin 3s infinite ease-out;
    z-index: 2;
}

.contenedor-carga .porcentaje {
position: absolute;
top: 50%; left: 50%;
font-size: 45px;
font-weight: 700;
color: #ef4361;
z-index: 2;
transform: translate(-50%, -50%);
}

@keyframes spin {
0%   { transform: translate(-50%, -50%) rotate(0deg); }
100% { transform: translate(-50%, -50%) rotate(360deg)}
} 

/*----HEADER-----*/


header{
    z-index: 3;
    background-color:  rgba(220, 3, 109, 1);
    padding:1rem;
    margin:0 10px 0 10 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width:7rem; 
}

header .logo img:hover{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.30));
    transform: scale(1.1);
}
header .btn img:hover{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.30));
    transform: scale(1.1);
}

 /*--------FOOTER------------*/

footer{
    width: 100%;
    margin-top: 4rem;
    background-color:#DC036D;
    color: #F2F2F2;
    }

.container-footer{
    font-size: 12px;
    margin: 2rem 1rem 0rem 3rem;
    display: flex;
    flex-direction: column;
    }

.container-footer section{
    margin-top: 1rem;
}

.container-footer h4{
    padding-bottom: 0.5rem;
}

.logo-footer img{ 
  margin: 0 0 20px 5px; 
  width: 10rem;
  height: 2.5rem;  
}

.redes ul {
display: flex;
}

 #li-redes{
    margin: 7px 0 0 20px
}

#redsoc{
    margin: 0px 0 15px 30px;
}
#carrito{
    width:40px;
}
#perfil{
    margin: 0 12px 0px 0;
    width: 3rem;
}

.redes li img{
    padding-top: 10px;
margin-left: 8px;
width: 24px;
}

.redess{
    display: flex;
    flex-direction: column; 
     letter-spacing: -1px; 
line-height: normal;
justify-content:center;
}

.info-app {
    padding-right: 30%;
    visibility: visible;
}

.info-web{
    position: absolute;
    visibility:hidden;
}

.ayuda li:hover, .idiomas li:hover{

    text-decoration: underline;
    cursor: pointer;
}

.copyright{
padding: 4rem 0rem 1rem ;
margin: 0 auto;
font-size: 10px;
}

/*Menú hamburguesa*/

#menuToggle{
display: block;
position: relative;
-webkit-user-select: none;
user-select: none;
}

#menuToggle input
{
display: block;
width: 24px;
height: 24px;
position: absolute;
cursor: pointer;
opacity: 0;
z-index: 2;
}

#menuToggle span
{
display: block;
width: 24px;
height: 1.8px;
margin-bottom: 5px;
position: relative;

background: #F2F2F2;
border-radius: 4px;

z-index: 1;

transform-origin: 1px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
position: absolute;
width: 21rem;
margin: -52px -6px 0px -301px;
background: #0298AB;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu ul{
    margin:1rem 0 0 1rem;
}

#menu li
{
padding: 10px 0 10px 30px;
font-size: 18px;
width: 17rem;
height: 1.5rem;
}

#menu li img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

#menu li:hover{
    border-radius: 30px;
    background-color: #23B5C9;
}

#menu .redes{
    border-top: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    margin: 1rem 3rem 3rem 3rem;
}

#menu .redes img{
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 24px;
    height: 24px;
}

#menuToggle input:checked ~ div
{
transform: none;
}

.header-menu{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #DC036D;
}


.header-menu button{
    padding: 8px;
    margin-left: -7rem;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem 2rem;
    background-color: #B8005A;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
.header-menu button > a {
    position: relative;
    overflow: hidden;
    color: #F2F2F2;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.header-menu button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

#menu span{
    background: transparent;
}


/*---------HOME------------*/
.index{
    background-color: #0D0D0D;
}
/*-----HEADER----*/
header{
    padding: 16px;
}

header .logo img{
    width: 9rem;
    height: 2.5rem;
}

 /*--------FOOTER----------*/

 .container-footer{
    font-size: 16px;
    flex-direction: row;
    flex-wrap: wrap;
}
    
.container-footer section{
    margin-right: 2rem;
}

.logo-footer img{
width: 10rem;
}


.ayuda, .idiomas{
    width: 22%;
}

.redes { 
width: 15%;
}

.redes ul {
    margin-top: 1rem;
}


.info-web { 
    width: 30%;
    position: relative;
    visibility: visible;
}

.info-app{
position: absolute;
visibility: hidden;
}


.copyright{
font-size: var(--font-size-s);
}

/*--------REGISTER----------*/  

.boton-volver{
    margin: 20px;

    text-decoration: underline;
}

.contenedor-registro{
    /* width: 100%; */
    /* height: 100%; */
    position: relative;
    
    /* width: 75%; */
    /* height: 697px; */
    /* left: 50px; */
    /* top: 0px; */
    /* position: absolute; */
    background: #F2F2F2;
    border-radius: 25px;
    border: 1px black solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
    margin: 0 50px;
}

.contenedor-texto-registro{
    /* width: 477px; */
    /* height: 99px; */
    /* left: 74px; */
    /* top: 20px; */
    /* position: absolute; */
    text-align: center;
    padding: 10px;
    /* margin-bottom: 20px; */
}

.texto-registro{
    color: #0D0D0D;
    font-size: 36px;
    font-family: Quicksand;
    font-weight: 600;
    word-wrap: break-word;
}

.texto-registro-azul{
    color: #027888;
}

.contenedor-form{
    width: 100%;
    margin-bottom: 5px;
}

.contenedor-form > div {
    display: flex;
    flex-direction: column;
    padding: 0 15px;
}

.asterisco{
    color: #B8005A;
}
.campo-registro-label{
    /* width: 190px; */
    /* height: 19.28px; */
    /* left: 5.40px; */
    /* top: 8.70px; */
    /* position: absolute; */
    margin-bottom: 3px;
    color: #0D0D0D;
    font-size: 20px;
    font-family: Quicksand;
    font-weight: 400;
    /* word-wrap: break-word */
    text-align: start;
}

.campo-registro-texto{
    height: 40px;
    /* left: 19px; */
    top: 344px;
    /* position: absolute; */
    color: #0D0D0D;
    /* width: 450px;
    height: 40px; */
    /* left: 0px; */
    /* top: 0px; */
    /* position: absolute; */
    background: #D9D9D9;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    border:1px solid transparent;
}

.campo-registro-texto:focus{
    border-color: #DC036D;
}

.contenedor-captcha{
    height: 50px;
    width: 50%;
    background: #D9D9D9;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
    align-self: center;
}

.boton-crear-cuenta{
    justify-content: center;
    align-items: center;
    display: inline-flex;
    height: 40px;
    align-self: center;
    background: #DC036D;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;

    width: 185.72px;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.mensaje-usuario-creado{
    color: #DC036D;
    font-size: 36px;
    font-weight: 700;
    text-align: center;
}

/* creando cuenta inico estilos*/

.lds-spinner {
    color: official;
    display: none;
    position: relative;
    width: 80px;
    height: 80px;
    align-self: center;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #DC036D;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }  

/* creando cuenta fin  estilos*/

.ya-tienes-una-cuenta{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: inline-flex;

    width: 429px;
    height: 28px;
    text-align: center;
    color: #909090;
    font-size: 16px;
    font-family: Quicksand;
    font-weight: 700;
    text-decoration: underline;
    word-wrap: break-word;
    
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}

/*--------LOGIN----------*/ 

/* .contenedor-login{
    width: 554px;
    height: 436px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #F2F2F2;
    border-radius: 25px;
    border: 1px black solid;
} */

/* .contenedor-login-texto{
    text-align: center;
    color: #0D0D0D;
    font-size: 36px;
    font-family: Quicksand;
    font-weight: 600;
    word-wrap: break-word;
} */

/* .boton-iniciar{
    width: 179px; height: 36px; left: 187px; top: 378px; position: absolute; box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 179px; height: 36px; left: 0px; top: 0px; position: absolute; background: #DC036D; border-radius: 10px;
    width: 138.09px; height: 19.58px; left: 20.64px; top: 8.70px; position: absolute; text-align: center; color: #F2F2F2; font-size: 20px; font-family: Quicksand; font-weight: 700; letter-spacing: 1px; word-wrap: break-word
} */

.linea-decorativa{
    color: #D0D0D0;
    font-weight: 700;
}

.boton-google{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 34px;
    background: #D9D9D9;
    
    margin-top: 20px;
    width: 100%;
    max-width: 250px;
}

.boton-google p{
    text-align: center;
    color: #3F3F3F;
    font-size: 16px;
    font-weight: 700;
}

@media only screen and (min-width: 768px) {
    /*--------HEADER----------*/  
    header{
        padding: 16px;
    }

    header .logo img{
        width: 9rem;
        height: 2.5rem;
    }

    /*Menú hamburguesa*/
    
    #menuToggle input
    {
    width: 40px;
    height: 32px;
    top: -7px;
    left: -5px;
    }

    #menuToggle span
    {
    width: 33px;
    height: 4px;
    border-radius: 3px;
    transform-origin: 4px 0px;
    }


    #menuToggle input:checked ~ span
    {
    background: #F2F2F2;
    }

    #menu{
        width: 350px;
        margin: -52px 0px 0px -301px;
    }

    /* -------FOOTER--------- */
    
   
    .container-footer{
        font-size: 16px;
        flex-direction: row;
        flex-wrap: wrap;
    }
        
    .container-footer section{
        margin-right: 2rem;
    }
   
    .logo-footer img{
    width: 10rem;
    }
   

    .ayuda, .idiomas{
        width: 22%;
    }
    
    .redes { 
    width: 15%;
    }
    
    .redes ul {
        margin-top: 1rem;
    }
    
    
    .info-web { 
        width: 30%;
        position: relative;
        visibility: visible;
    }
    
    .info-app{
    position: absolute;
    visibility: hidden;
    }
    
    
    .copyright{
    font-size: var(--font-size-s);
    }

    /*--------REGISTER----------*/  

    .contenedor-registro{
        max-width: 600px;
        /* width: 600px; */
        margin: auto;
        /* left: 600px; */
    }

    .contenedor-form > div {
        padding: 0 40px;
    }

    .contenedor-texto-registro{ 
        padding: 40px;
    }

    /* .contenedor-texto-registro{
        width: 477px;
        height: 99px;
        left: 74px;
        top: 20px;
        position: absolute;
        text-align: center;
    } */

    /* .campo-registro-label{

    } */

    /* .campo-registro-texto{
        width: 450px;
        height: 40px;
        left: 89px;
        top: 344px;
        position: absolute;

        width: 450px;
        height: 40px;
        left: 0px;
        top: 0px;
        position: absolute;
        background: #D9D9D9;
        border-radius: 15px
    } */
}
