@import url("https://fonts.googleapis.com/css?family=Quicksand:700,500,600|Roboto:200,700,600");
:root{
--font-family-quicksand: "Quicksand"; 
--font-size-l: 24px;
--font-size-m: 18px;
--font-size-s: 16px;
--font-size-xl: 30px;
}

*{
    margin: 0;
    padding: 0;
    font-family: var(--font-family-quicksand);
    color: #F2F2F2;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
    vertical-align: baseline;
    background: transparent;
}

*, *:after, *:before {
    transition: 0.5s ease-in-out;
  }


body{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/*---------PRELOADER----------*/


.contenedor-carga {
    height: 100%;
    width: 100%;
    z-index: 100;
    background-color: rgb(7, 7, 7,0.9);
    position: fixed;
    transition: all 1s ease;
    overflow: hidden;
    visibility: visible;
}

.contenedor-carga-hidden {
    opacity: 0;
    filter: alpha(opacity=0);
    visibility: hidden;
}

.contenedor-carga .carga {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    width: 200px; height: 200px;
    border-radius: 50%;
    border-top: 5px solid #ef4361;
    border-right: 5px solid #ef4361;
    animation: spin 3s infinite ease-out;
    z-index: 2;
}

.contenedor-carga .porcentaje {
position: absolute;
top: 50%; left: 50%;
font-size: 45px;
font-weight: 700;
color: #ef4361;
z-index: 2;
transform: translate(-50%, -50%);
}

@keyframes spin {
0%   { transform: translate(-50%, -50%) rotate(0deg); }
100% { transform: translate(-50%, -50%) rotate(360deg)}
} 

/*Header*/


header{
    z-index: 3;
    background-color:  rgba(220, 3, 109, 1);
    padding: 0.3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo img{
    width: 7rem;
    height: 1.5rem;
    
}

header .logo img:hover{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.30));
    transform: scale(1.1);
}
header .btn img:hover{
    filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.30));
    transform: scale(1.1);
}
 
/*Menú hamburguesa*/

#menuToggle{
display: block;
position: relative;
-webkit-user-select: none;
user-select: none;
}

#menuToggle input
{
display: block;
width: 24px;
height: 24px;
position: absolute;
cursor: pointer;
opacity: 0;
z-index: 2;
}

#menuToggle span
{
display: block;
width: 24px;
height: 1.8px;
margin-bottom: 5px;
position: relative;

background: #F2F2F2;
border-radius: 4px;

z-index: 1;

transform-origin: 1px 0px;

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
}

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}


#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
}

#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2)
{
transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
position: absolute;
width: 21rem;
margin: -52px -6px 0px -301px;
background: #0298AB;
-webkit-font-smoothing: antialiased;
transform-origin: 0% 0%;
transform: translate(100%, 0);
transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu ul{
    margin:1rem 0 0 1rem;
}

#menu li
{
padding: 10px 0 10px 30px;
font-size: 18px;
width: 17rem;
height: 1.5rem;
}

#menu li img{
    width: 20px;
    height: 20px;
    margin-right: 1rem;
}

#menu li:hover{
    border-radius: 30px;
    background-color: #23B5C9;
}

#menu .redes{
    border-top: 2px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    width: 70%;
    justify-content: center;
    margin: 1rem 3rem 3rem 3rem;
}

#menu .redes img{
    margin-top: 1rem;
    margin-right: 1.5rem;
    width: 24px;
    height: 24px;
}

#menuToggle input:checked ~ div
{
transform: none;
}

.header-menu{
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: #DC036D;
}


.header-menu button{
    padding: 8px;
    margin-left: -7rem;
    margin-top: 3rem;
    position: relative;
    overflow: hidden;
    width: 10rem;
    height: 2rem;
    border-radius: 2rem 2rem;
    background-color: #B8005A;


    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
    
.header-menu button > a {
    position: relative;
    overflow: hidden;
    color: #F2F2F2;
    font-size: 1.5rem;
    font-weight: 700;
    letter-spacing: 0.03em;
}

.header-menu button:hover{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

#menu span{
    background: transparent;
}


/*---------HOME------------*/
.index{
    background-color: #0D0D0D;
}


@media only screen and (min-width: 768px) {


    /*--------HEADER----------*/  
    header{
        padding: 16px;
    }

    header .logo img{
        width: 9rem;
        height: 2.5rem;
    }

    /*Menú hamburguesa*/
    
    #menuToggle input
    {
    width: 40px;
    height: 32px;
    top: -7px;
    left: -5px;
    }

    #menuToggle span
    {
    width: 33px;
    height: 4px;
    border-radius: 3px;
    transform-origin: 4px 0px;
    }


    #menuToggle input:checked ~ span
    {
    background: #F2F2F2;
    }

    #menu{
        width: 350px;
        margin: -52px 0px 0px -301px;
    }

    /*--------SROLL BAR----------*/

    .carrousel-juegos::-webkit-scrollbar {
        height: 0.65rem;
    }

